# DB 컨테이너 초기화 설정 (MySQL 컨테이너용)
MYSQL_DATABASE=sns_db
MYSQL_ROOT_PASSWORD=Sns1234!
MYSQL_USER=sns-app
MYSQL_PASSWORD=Sns1234!

# DB 접속 정보 (Spring Boot 애플리케이션용)
# 로컬 개발용
# DB_HOST=localhost

# AWS RDS
DB_HOST=<RDS_ENDPOINT>

DB_PORT=3306
SPRING_DATASOURCE_USERNAME=sns-app
SPRING_DATASOURCE_PASSWORD=Sns1234!

# JWT
JWT_SECRET=

# OAuth2 클라이언트 자격 증명
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=