<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.likelion.bebc25.itda.commoncode.mapper.CommonCodeMapper">

    <select id="findActiveSubscriptionPrice"
            parameterType="Long"
            resultType="net.likelion.bebc25.itda.domain.CommonCode">

        SELECT
        id,
        type,
        code,
        name,
        description,
        sort,
        is_active
        FROM common_code
        WHERE id = #{priceId}
        AND type = 5
        AND is_active = TRUE

    </select>

</mapper>